<%- include('header') -%>
<form>
    <div class="container">
        <div class="row">
    <div class="col-6">
      <label for="deviceNameInput" class="form-label">Device Name</label>
      <input type="email" class="form-control" id="deviceNameInput">
    </div>
    <div class="col-6">
        <label for="deviceDescription" class="form-label">Device description</label>
        <input type="email" class="form-control" id="deviceDescription">
      </div>
    </div>
    <a href="/device/new" class="btn btn-dark">Submit</a>
    </div>
  </form>

<%- include('footer') -%>